@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: #212129;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  position: relative;
}

.search-wrapper {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 1rem;
}
.search-bar {
  font-size: 1rem;
  width: 300px;
  padding: 1rem;
  border-radius: 20px 0 0 20px;
  outline: none;
  height: 100%;
  border: none;
  flex: 90%;
}

.search-btn {
  font-size: 1rem;
  height: 100%;
  background: #eee;
  border: none;
  border-radius: 0 20px 20px 0;
  display: inline-block;
  cursor: pointer;
  flex: 20%;
  padding: 1rem;
}

.books-container {
  margin: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  align-items: self-end;
}

/* Book Card */
.book {
  background: #eee;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  border-radius: 10px;
  background-color: #b6c6c7;
  position: relative;
  cursor: pointer;
}

.book:hover .book-link {
  display: flex;
}

.book-link {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 10px;
}

.cover {
  width: 100%;
}

.book img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  line-height: 1.5;
}

.main-title {
  color: #fff;
}

/* Book Modal */
.book-modal {
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: 0;
  height: 100%;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
}

.book-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 700px;
  background: #eee;
  border-radius: 10px;
  display: flex;
}

.book-modal-cover {
  width: 100%;
  flex: 1;
}

.book-modal-cover img {
  width: 100%;
  border-radius: 10px 10px 10px 0;
  height: 100%;
}

.book-modal-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  color: #000;
  flex: 1;
  list-style: none;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #eee;
  font-size: 1.5rem;
  border-radius: 100%;
  border: 1px solid #ccc;
  color: #000;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Books Container */
@media (max-width: 769px) {
  
  .book-modal-container {
    width: 500px;
  }
}

@media (max-width: 520px) {
  .book-modal-container {
    width: 350px;
    height: auto;
    flex-direction: column;
  }
}

